html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* <-- SCROLL DIHAPUS */
}

/* Popup arrow */
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 20px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #ccc;
  border-width: 11px;
  left: 20px;
  margin-left: -11px;
}
