:root {
  --navbar-height: 60px;

  --green-primary: #3BB143;
  --green-dark: #0B6623;
  --green-light: #E6F4EA;

  --accent: #c7ea46;

  --text-dark: #1f1f1f;
  --text-muted: #555;

  --font-primary: 'Merriweather', serif;
}
